body {
  background-color: blanchedalmond;
}
h1 {
  margin: 50px auto;
  text-align: center;
}
p {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  /* box-shadow: inset 0 0 4px salmon; */
}
section {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

span {
  display: block;
  margin-top: 60px;
  text-align: center;
  font-size: 30px;
}

button {
  margin-top: 60px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 450px) {
  body {
    margin-top: 230px;
  }
  h1 {
    font-size: 2em;
  }
}
