body {
  background-color: blanchedalmond;
}
h1 {
  margin: 50px auto;
  text-align: center;
}

p {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  /* box-shadow: inset 0 0 4px salmon; */
}
p.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}


section {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

span {
  display: block;
  margin-top: 60px;
  text-align: center;
  font-size: 30px;
}

button {
  margin-top: 60px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.hidden {
  display: none
}

@media (max-width: 450px) {
  article {
    margin-top: 100px;
  }
  h1 {
    font-size: 2em;
  }
}
